.menu-container {
  display: none;
}

.interaction-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}

#data-point-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

#addInput {
  margin-bottom: 10px;
}

#data-point-container input {
  width: calc(100% - 20px);
}

.new-data-point input {
  width: 300px;
}